biblioteca.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:complexType name="libroType">
		<xs:sequence>
			<xs:element name="nombre" type="xs:string" />
			<xs:element name="autor" type="xs:string" />
			<xs:element name="fechaPublicacion" type="xs:date" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" />
	</xs:complexType>
	<xs:complexType name="usuarioType">
		<xs:sequence>
			<xs:element name="nombre" type="xs:string" />
			<xs:element name="apellidos" type="xs:string" />
			<xs:element name="correo" type="xs:string" />
			<xs:element name="fechaNacimiento" type="xs:date" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" />
	</xs:complexType>
	<xs:complexType name="prestamoType">
		<xs:attribute name="id" type="xs:ID" />
		<xs:attribute name="libro" type="xs:IDREF" />
		<xs:attribute name="usuario" type="xs:IDREF" />
	</xs:complexType>


	<xs:element name="biblioteca">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="libros" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="libro" type="libroType" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="usuarios" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="usuario"
								type="usuarioType" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="prestamos" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="prestamo"
								type="prestamoType" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>


</xs:schema>
